.aboutme {
    background: $dark;
    margin-top: $xl-size;
    margin-bottom: $xl-size;
    text-align: center;
}

.techList {
    font-size: $l-size;
    list-style: none;    
    line-height: $xl-size;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.myHTML {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;    
}

.myC {
    color: orange;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.myS1 {
    color: yellow;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.myS2 {
    color: $lime;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.myReact {
    color: rgb(97, 219, 251);
    font-family: 'Nunito Sans', sans-serif;
}

.myNode {
    color: rgb(119, 176, 99);
}

.comingSoon {
    font-size: $m-size;
}

.button--container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
}