.card {
    background: $off-white;
    border-radius: 20px;    
    box-shadow: 7px 7px $darkest;
    color: black;
    margin: $m-size;
    overflow: hidden;
    padding: 10px;
}

h6 {
    margin-bottom: 0;
}

.cardTitle {
    font-style: italic;
}

.cardSubtitle {
    line-height: 2rem;;
    padding-top: 5px;
}