.nav {
    background: $darkest;
    padding: 0 5px;
}

.details {
    text-align: center;
    padding-top: 10px
}

.nav--logo {
    color: $lime;
    font-size: $l-size;    
    margin: 0 auto;
}

.headerIconList {
    color: white;
    margin-top: 2%;
    text-align: center;
}

