.hireMe {
    background: $darker;
    padding-top: $xl-size;
}

.hireContainer {  
    text-align: center;
}

.title {
    font-size: $xl-size;
}

.hireMeButton {
    text-align: center;
    margin-left: -14px;
}