.hireMe {
    background: $darker;
    padding: $l-size;
    margin-bottom: $xl-size;
}

.hireContainer {  
    padding: $xl-size;
    text-align: center;
}

.title {
    font-size: $xl-size;
}

.hireMeButton {
    text-align: center;
    margin-left: -14px;
}