.jumbotron {
    background: $darker;
}

.jumbotron--info {
    font-size: $l-size;
    margin-top: 225px;
    text-align: center;
}

.image-container {
    margin-left: -50px;
}

@media screen and (min-width: 1400px) {
    .image-container {
      padding-left: 300px;
    }
  }