.jumbotron {
    background: $darker;
    padding-top: 80px;
    padding-bottom: 80px;
}

.jumbotron--info {
    font-size: $l-size;
    padding-top: 20%;
    text-align: center;
}

.jumbotron .row {
    align-items: center;
}

.myImage {
    max-width: 100%;
    padding-top: 20%;
}

@media screen and (min-width: 1400px) {
    .image-container {
      padding-left: 300px;
    }
  }