.workscard {
    border: 1px solid $darkest;
    border-radius: 5px;  
    height: 250px;
    margin-top: $l-size;
    width: 100%;      
}

.underconstruction {
    text-decoration: none;
    text-align: center;
}